- var w = 320;
- var h = 200;
- var lw = 1920;
- var lh = 1080;
- var albums =[{name: "Κτήμα Γκούντα - Εκκλησία", path: 'naos', imgs: 4}, {name: "Κτήμα Γκούντα - Κήπος", path: 'khpos', imgs: 5}, {name: "Γενέθλια", path: 'birthday', imgs: 7}]

section#photos.darken
  div
    .container
      .col-md-12
        section.main
          .wrapper
            .topbar
              span#close.back ←
              h2 Φωτογραφίες
              h3#name

            ul#tp-grid.tp-grid
              each album in albums
                - for (var i=1; i<=album.imgs;i++)
                  li(data-pile=album.name)
                    a(href="assets/photos/albums/#{album.path}/thumb#{i}-#{lw}x#{lh}.jpg" data-width=lw data-height=lh)
                      img(src='assets/photos/albums/#{album.path}/thumb#{i}-thumbnail.jpg')
