- var w = 310;
- var h = 200;
- var lw = 1920;
- var lh = 1080;
- var albums =[{name: "Γενέθλια", path: 'birthday', imgs: 7}]

section.main
  .wrapper
    .row
      .col-md-12
        .topbar
          span#close.back ←
          h2 Φωτογραφίες
          h3#name

    ul#tp-grid.tp-grid
      each album in albums
        - for (var i=1; i<=album.imgs;i++)
          li(data-pile=album.name)
            a(href="assets/photos/albums/#{album.path}/thumb#{i}-#{lw}x#{lh}.jpg" data-width=lw data-height=lh)
              img(src='assets/photos/albums/#{album.path}/thumb#{i}-thumbnail.jpg')
        each album in [1,2,3,4,5]
          each photo in [1,2,3,4,5,6,7,8]
            li(data-pile='Album #{album}')
              a(href='http://dummyimage.com/1920x1080/fff/000' data-width="1920" data-height="1080")
                img(src='http://dummyimage.com/#{w}x#{h}/fff/000')
