- var w = 308;
- var h = 200;
- var albums =[{name: "Γενέθλια", path: 'birthday', imgs: 7}]

section.main
  .wrapper
    .row
      .col-md-12
        .col-md-12
          .topbar
            span#close.back ←
            h2 Φωτογραφίες
            h3#name
    ul#tp-grid.tp-grid
      each album in albums
        - for (var i=1; i<=album.imgs;i++)
          li(data-pile=album.name)
            a(href="assets/photos/albums/#{album.path}/thumb#{i}.jpg")
              img(src='assets/photos/albums/#{album.path}/thumb#{i}-thumbnail.jpg')
      each album in [1,2,3,4,5]
        each photo in [1,2,3,4,5,6,7,8]
          li(data-pile='Album #{album}')
            a(href='javascript:')
              img(src='http://dummyimage.com/#{w}x#{h}/fff/000')
